* {
  font-family: "Roboto";
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ede8e3;
  height: 100vh;
}

h1 {
  font-size: 24px;
  color: #4d4dff;
  text-align: center;
  margin-bottom: 20px;
}
